# Dependencies
/node_modules

# Build output
/dist

# Environment files
.env
.env.*
!.env.example

# IDE / OS
.idea
.vscode
.DS_Store

# Logs
*.log
npm-debug.log*

# Coverage
/coverage

# 镜像
optivoy-backend-prod.tar.gz
**/optivoy-backend-prod.tar.gz

SSL/
*.pem
*.key